*{
   margin: 0;
   padding: 0;
}
body{
    background-color: rgb(16, 96, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2{
    margin: 0px 0px 10px 0px;
}
input{
    width: 200px;
    margin: 10px 0px; 
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}
input[type="submit"]{
    width: 225px;
    background-color:rgb(14, 99, 219);
    border: 0px;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: rgb(10, 36, 180);
}
#form-container{
    background-color: white;
    padding: 50px;
    text-align: center;
}
.error{
    color: red;
    margin: 5px 0 0 0;
    text-align: left;
}
